[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "orbitr"]
	path = orbitr
	url = https://github.com/drosenman/orbitr
[submodule "sqlserverconnect"]
	path = sqlserverconnect
	url = https://github.com/drosenman/sqlserverconnect
